body {
  width: 100%;
  height: 100%; }

.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none; }

html {
  width: 100%;
  height: 100%; }

ul.nav {
  float: right; }

.navbar a,
.navbar .title-link {
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  transition: all 0.2s linear;
  color: #1e1e1e !important;
  margin-left: 20px;
  background-color: transparent !important;
  letter-spacing: 2px; }

.navbar .navbar-brand {
  border: 2px solid #1e1e1e;
  letter-spacing: 5px;
  transition: all 0.2s linear; }

.navbar a:hover {
  transform: scale(1.3);
  cursor: pointer; }

.navbar-brand:hover {
  border: 2px solid transparent;
  cursor: pointer; }

.top-nav-collapse {
  background-color: rgba(30, 30, 30, 0.4) !important; }
  .top-nav-collapse .navbar-brand {
    border: 2px solid transparent; }

@media (min-width: 767px) {
  .navbar {
    padding: 15px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }
  .top-nav-collapse {
    padding: 0; } }

.fa-angle-down {
  color: #1e1e1e;
  position: inherit;
  margin: 400px 0 0 0;
  transition: all .2s linear; }

.fa-angle-down:hover {
  transform: scale(1.4);
  cursor: pointer; }

.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #CCC; }
  .intro-section h1 {
    letter-spacing: 5px;
    font-size: 6rem;
    color: #1e1e1e;
    font-weight: 300; }

.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee; }

.projects-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff; }

.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee; }
