
$text-color: rgb(40, 40, 40);


body {
  width: 100%;
  height: 100%;
}

.navbar-toggle {
  border: none;
  background-color: transparent !important;
  margin-top: 20px;
  transition: all 0.3s linear;
}

.navbar-toggle:hover {
  transform: scale(1.4);
  transition: all 0.3s linear;
}

.container {
  width: 100vw;
}

.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
  transition: all 0.3s linear;
}

html {
  width: 100%;
  height: 100%;
}

ul.nav {
  float: right;
}

.navbar {
    a {
      font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
      font-weight: 400;
      font-size: 2rem;
      transition: all 0.3s linear;
      color: $text-color !important;
      background-color: transparent !important;
      letter-spacing: 2px;
      margin-top: 15px;
    }
    .navbar-brand {
      font-size: 2rem;
      letter-spacing: 1px;
      transition: all 0.3s linear;
    }
}

.navbar a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar .navbar-brand:hover {
  cursor: pointer;
  transform: scale(1);
}

.top-nav-collapse {
  background-color: rgba(30, 30, 30, 0.8) !important;
  transition: all 0.3s linear;
  border: 0px;
  .navbar-toggle {
    color: rgb(210,210,210) !important;
    margin-top: 8px;
    transition: all 0.3s linear;
  }
  a {
    margin-top: 0;
    color: rgb(210,210,210) !important;
  }
}

.navbar-collapse {
  border: 0px;
}

.fa-angle-down {
  color: $text-color;
  position: static;
  margin: 0 0 0 0;
  transition: all .2s linear;
}

.fa-angle-down:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.intro-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #CCC;
    h1 {
      letter-spacing: 4px;
      font-size: 8rem;
      color: $text-color;
      font-weight: 300;
      font-family: 'Maven Pro', sans-serif;
      margin-top: 170px;
    }
    .fa {
      margin-top: 150px;
    }
}

.about-section {
    height: 100%;
    padding-top: 25px;
    text-align: center;
    background: #eee;
    h1 {
      letter-spacing: 5px;
      font-size: 6rem;
      color: $text-color;
      font-weight: 300;
    }
    img {
      height: 300px;
      width: auto;
      border-radius: 300px;
    }
}

.projects-section {
    height: 100%;
    padding-top: 25px;
    text-align: center;
    background: #fff;
    h1 {
      letter-spacing: 5px;
      font-size: 5rem;
      color: $text-color;
      font-weight: 300;
      margin-top: 50px;
    }
    .project-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      img {
        height: 180px;
        width: 290px;
        margin: 40px;
        transition: all .2s linear;
      }
    }
}

.project-images img:hover {
  transform: scale(1.2);
  transition: all .2s linear;
}

.contact-section {
    height: 100%;
    padding-top: 25px;
    text-align: center;
    background: #eee;
    h1 {
      letter-spacing: 5px;
      font-size: 5rem;
      color: $text-color;
      font-weight: 300;
      margin-top: 50px;
    }
    .contact-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 3.5rem;
      a {
        width: 320px;
        margin-top: 150px;
        color: $text-color;
      }
    }
}

@media all and (max-width:915px) {
  .intro-section h1 {
    font-size: 6rem;
  }
}

@media all and (max-width:768px) {
  .top-nav-collapse {
      padding: 0;
  }
  .navbar {
    background-color: rgba(30, 30, 30, 0.8) !important;
    .navbar-toggle {
      color: rgb(210,210,210) !important;
    }
    a {
      color: rgb(210,210,210) !important;
    }
  }
  .intro-section h1 {
    font-size: 6rem;
  }
}
