body {
  width: 100%;
  height: 100%; }

nav {
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  font-weight: 300;
  font-size: 2rem; }

.navbar-toggle {
  border: none;
  background-color: transparent !important;
  margin-top: 20px;
  transition: all 0.2s ease; }

.navbar-toggle:hover {
  transform: scale(1.4);
  transition: all 0.2s ease; }

.container {
  width: 100vw; }

.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  transition: all 0.2s ease; }

html {
  width: 100%;
  height: 100%; }

ul.nav {
  float: right; }

.navbar a {
  transition: all 0.5s ease;
  color: white !important;
  background-color: transparent !important;
  letter-spacing: 2px;
  margin-top: 15px; }

.navbar .navbar-brand {
  font-size: 2rem;
  letter-spacing: 1px; }

.navbar a:hover {
  transform: scale(1.2);
  cursor: pointer; }

.navbar .navbar-brand:hover {
  cursor: pointer;
  transform: scale(1); }

.top-nav-collapse {
  background-color: rgba(1, 1, 1, 0.8) !important;
  transition: all 0.5s ease;
  border: 0px; }
  .top-nav-collapse .navbar-toggle {
    margin-top: 4px;
    margin-bottom: 0;
    transition: all 0.3s ease; }
  .top-nav-collapse a {
    margin-top: 0; }

.navbar-collapse {
  border: 0px; }

.fa-angle-down {
  color: #282828;
  position: static;
  margin: 0 0 0 0;
  transition: all .1s ease; }

.fa-angle-down:hover {
  transform: scale(1.4);
  cursor: pointer; }

.intro-section {
  height: 100%;
  padding-top: 50px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black; }
  .intro-section h1 {
    letter-spacing: 4px;
    font-size: 8rem;
    color: white;
    font-weight: 300;
    font-family: "Gotham SSm A","Gotham SSm B", sans-serif;
    margin-top: 170px; }
  .intro-section .fa {
    margin-top: 20px;
    color: white; }
  .intro-section .container {
    height: 80vh; }

.about-section {
  height: 100%;
  padding-top: 25px;
  text-align: center;
  background: #eee; }
  .about-section h1 {
    letter-spacing: 5px;
    font-size: 6rem;
    color: #282828;
    font-weight: 300; }
  .about-section img {
    height: 400px;
    width: auto;
    border-radius: 300px; }
  .about-section .about-paragraph {
    font-size: 3.5rem;
    text-align: right;
    line-height: 70px;
    letter-spacing: 3px;
    font-family: 'helvetica';
    font-weight: 300; }
  .about-section .fa {
    margin-top: 0px; }
  .about-section .container {
    height: 80vh;
    margin-top: 50px; }
  .about-section .row {
    margin-top: 50px; }

.projects-section {
  height: 100%;
  padding-top: 25px;
  text-align: center;
  background: #fff; }
  .projects-section h1 {
    letter-spacing: 5px;
    font-size: 5rem;
    color: #282828;
    font-weight: 300;
    margin-top: 50px; }
  .projects-section .project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .projects-section .project-images img {
      height: 180px;
      width: 290px;
      margin: 40px;
      transition: all .2s ease; }
  .projects-section .container {
    height: 80vh; }

.project-images img:hover {
  transform: scale(1.05);
  transition: all .2s ease; }

.contact-section {
  height: 95vh;
  padding-top: 25px;
  text-align: center;
  background: #eee; }
  .contact-section h1 {
    letter-spacing: 5px;
    font-size: 5rem;
    color: #282828;
    font-weight: 300;
    margin-top: 50px; }
  .contact-section .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .contact-section .contact-info a {
      width: 300px;
      margin-top: 120px;
      color: #282828;
      font-weight: 300;
      font-size: 4rem; }
    .contact-section .contact-info a:hover {
      transform: scale(1.2);
      transition: all 0.3s ease;
      text-decoration: none;
      cursor: pointer; }
  .contact-section .container {
    height: 80vh; }

footer {
  height: 5vh;
  background-color: rgba(1, 1, 1, 0.8); }
  footer p {
    color: white;
    padding-top: 8px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0; }
  footer .left {
    float: left;
    padding-left: 10px; }
  footer .right {
    float: right;
    padding-right: 10px; }

@media all and (max-width: 1000px) {
  .about-section img {
    height: 300px; }
  .about-section p.about-paragraph {
    font-size: 2.5rem;
    line-height: 60px;
    letter-spacing: 3px; } }

@media all and (max-width: 915px) {
  .intro-section h1 {
    font-size: 6rem; }
  .projects-section img {
    height: 140px !important;
    width: 240px !important;
    margin: 30px !important; }
  .projects-section h1 {
    font-size: 4rem; }
  .about-section img {
    height: 250px; }
  .contact-section a {
    font-size: 3rem !important;
    margin-top: 70px;
    width: 250px; }
  .contact-section h1 {
    font-size: 4rem; } }

@media all and (max-width: 768px) {
  .top-nav-collapse {
    padding: 0; }
  .navbar {
    background-color: rgba(1, 1, 1, 0.8) !important; }
    .navbar .navbar-toggle {
      color: white !important; }
    .navbar a {
      color: white !important; }
  .intro-section h1 {
    font-size: 4rem; }
  .about-section img {
    height: 200px; }
  .about-section a {
    font-size: 2.5; }
  .projects-section img {
    height: 80px !important;
    width: 130px !important;
    margin: 20px !important; }
  .projects-section h1 {
    font-size: 3rem; }
  .contact-section a {
    font-size: 1.7rem;
    margin-top: 65px !important; }
  .contact-section h1 {
    font-size: 3rem; } }

@media all and (max-height: 720px) {
  .about-section img {
    height: 300px; }
  .about-section p.about-paragraph {
    font-size: 2.5rem;
    line-height: 60px;
    letter-spacing: 3px; } }

@media all and (max-height: 600px) {
  .intro-section h1 {
    font-size: 6rem; }
  .projects-section img {
    height: 140px !important;
    width: 240px !important;
    margin: 30px !important; }
  .projects-section h1 {
    font-size: 4rem; }
  .about-section img {
    height: 250px; }
  .contact-section a {
    font-size: 3rem !important;
    margin-top: 70px;
    width: 250px; }
  .contact-section h1 {
    font-size: 4rem; } }

@media all and (max-height: 450px) {
  .top-nav-collapse {
    padding: 0; }
  .navbar {
    background-color: rgba(1, 1, 1, 0.8) !important; }
    .navbar .navbar-toggle {
      color: white !important; }
    .navbar a {
      color: white !important; }
  .intro-section h1 {
    font-size: 4rem; }
  .about-section img {
    height: 200px; }
  .about-section a {
    font-size: 2.5; }
  .projects-section img {
    height: 80px !important;
    width: 130px !important;
    margin: 20px !important; }
  .projects-section h1 {
    font-size: 3rem; }
  .contact-section a {
    font-size: 1.7rem;
    margin-top: 65px !important; }
  .contact-section h1 {
    font-size: 3rem; } }
